@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700&family=Poppins:ital,wght@,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");

.contentbox-header {
  margin: 25px 0;
  padding: 0 125px;
}

#main p {
  font-size: 14px;
  margin: 10px 0;
  padding: 0 40px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  border: 1px solid #ccc;
  border-left: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  max-width: 950px;
  margin: 0 auto;
}

.row > .col,
.row > [class*="col-"] {
  padding-right: 15px;
  padding-left: 15px;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > .col,
.row.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

@media (max-width: 991px) {
  body[class$="-active"] {
    cursor: pointer;
  }
}

@media (max-width: 991px) {
  body.navigation-active {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
  }

  body.navigation-active {
    left: 280px;
  }

  body.navigation-active #mobile-navigation {
    left: 0;
    box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.1);
  }

  body.navigation-active .navigation-menu-overlay {
    display: block;
  }
}
